body{
    width: 100vw;
    margin: 0 auto;
    background-image: url(../img/fond.png);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.conteneurChampsLabelInput{
    display: flex;
    flex-direction: column;
}
#tableau{
    border-radius: 10px;
    width: 80vw;
    margin: 0 auto;
    object-fit: contain;
    overflow: hidden;
}
table{
    border-style: solid hidden solid;
    border-color: white;
    border-width: 1px;
    max-width: 480px;
    table-layout: fixed;
    width: 80vw;
    border: 1px solid white;
    padding-right: 2em;
    margin: 2em 0;
    border-radius: 15px;
}
.titreTableau {
    font-size: 1em;
    color: rgb(190, 215, 219);
    font-weight: 500;
    text-align: left;
    padding-left: 1em;
}

h3{
    font-size: 0.8em;
    margin-right: 1em;
    padding-left: 1em;
}
a{
    text-decoration: none;
    color: black;
}


input{
    border-radius: 5px;
    height: 2em;
}
